---
import FormattedDate from '@/components/FormattedDate.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
);
---

<PageLayout title="Blog">
  <ul>
    {
      posts.map((post) => (
        <li class="py-5">
          <article>
            <a
              href={`/blog/${post.slug}/`}
              class="hover:text-emerald-600 flex flex-col gap-1"
            >
              <h2 class="text-3xl font-bold">{post.data.title}</h2>
              <p class="text-gray-500 text-sm">
                <span>
                  작성일:
                  <FormattedDate datetime={post.data.publishedDate} />
                </span>
                {post.data.updatedDate && (
                  <span>
                    수정일:
                    <FormattedDate datetime={post.data.updatedDate} />
                  </span>
                )}
              </p>
              <p class="text-slate-500">{post.data.description}</p>
            </a>
          </article>
        </li>
      ))
    }
  </ul>
</PageLayout>
